@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-b-0 m-0 p-0;
  }
  body {
    @apply bg-background;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 12 7% 15%;
    --primary: 12 7% 15%;
    --secondary: 203 100% 39%;
    --border: 0 0% 75%;
    --input: 0 0% 75%;
    --focus: 0 3% 13%;
  }
}

 {
  /* 스크롤바 CSS*/
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

.notelist {
  min-height: 40px !important;
}
