@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-b-0 m-0 p-0;
  }
  body {
    @apply bg-background;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 12 7% 15%;
    --primary: 12 7% 15%;
    --secondary: 203 100% 39%;
    --border: 0 0% 75%;
    --input: 0 0% 75%;
    --focus: 0 3% 13%;
  }
}
